{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Dog Coffee</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p>© {% now 'Y' %} Black Dog Coffee</p>
            <a href="{% url 'web:term' %}">{% trans "Terms and Conditions" %}</a>
            <a href="{% url 'web:privacy' %}">{% trans "Privacy Policy" %}</a>
        </div>
    </footer>
{% endblock footer %}
</body>
</html>